.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: gray;
  border-radius: 8px;
  padding: 1rem;
  max-height: 80vh;
  overflow-y: auto;
  width: 80%;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 12px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}
